@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(215, 29%, 15%);
  --VeryDarkBlue: hsla(216, 12%, 8%);
  --Orange: hsl(22, 95%, 53%);
  --LighterOrange: hsl(22, 60%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--VeryDarkBlue);
}

.card-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-component {
  background-color: var(--DarkBlue);
  width: 87%;
  border-radius: 2.5rem;
  padding: 2.4rem;
  max-width: 41rem;
}

.header {
  background-color: var(--VeryDarkBlue);
  width: fit-content;
  padding: 1.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.star-image {
  width: 1.3rem;
  height: 1.3rem;
}

.description {
  margin-top: 2.8rem;
}

h1 {
  color: var(--White);
  margin-bottom: 2rem;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

p {
  color: var(--LightGrey);
  line-height: 2rem;
  font-size: 1.4rem;
  text-align: left;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rating-button {
  color: var(--LightGrey);
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  background-color: var(--VeryDarkBlue);
  border: none;
  margin-top: 2.5rem;
  font-weight: 700;
}

.rating-button:hover {
  background-color: var(--Orange);
  color: white;
}

.rating-button:active {
  background-color: var(--LightGrey);
  color: white;
}

.button-container {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button {
  width: 100%;
  background-color: var(--Orange);
  border-radius: 2rem;
  padding: 1.5rem;
  border: none;
  color: var(--White);
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.8rem;
}

.submit-button:active {
  background-color: white;
  color: var(--Orange);
}

/* Submitted Component */
#submission-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitted-image {
  width: 15rem;
  height: 10rem;
  margin-top: 2rem;
}

.submitted-text-description {
  margin-top: 2.5rem;
  text-align: center;
}

.selection-wrapper {
  margin-top: 2.5rem;
  background-color: hsla(212, 20%, 25%, 0.5);
  border-radius: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.5rem;
  color: var(--Orange);
}

.selection-output {
  color: var(--LighterOrange);
}

.submitted-text-description p {
  text-align: center;
  padding: 1.5rem;
}

/* Media Queries */
@media screen and (min-width: 1440px) {
  .card-component {
    padding: 3rem;
  }

  .star-image {
    width: 1.8rem;
    height: 1.8rem;
  }

  .description {
    margin-top: 3.7rem;
  }

  h1 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .rating-button {
    height: 5.5rem;
    width: 5.5rem;
    font-size: 1.6rem;
  }
}
