@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(215, 29%, 15%);
  --VeryDarkBlue: hsla(216, 12%, 8%);
  --Orange: hsl(22, 95%, 53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--VeryDarkBlue);
}

.card-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-component {
  background-color: var(--DarkBlue);
  width: 87%;
  border-radius: 1.5rem;
  padding: 2.4rem;
}

.header {
  background-color: var(--VeryDarkBlue);
  width: fit-content;
  padding: 1.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-image {
  width: 1.3rem;
  height: 1.3rem;
}

.description {
  margin-top: 2.5rem;
}

h1 {
  color: var(--White);
  margin-bottom: 2rem;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

p {
  color: var(--LightGrey);
  line-height: 2rem;
  font-size: 1.4rem;
  text-align: left;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rating-button {
  color: var(--LightGrey);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: var(--VeryDarkBlue);
  border: none;
  margin-top: 2.5rem;
  font-weight: 700;
}

.button-container {
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button {
  width: 100%;
  background-color: var(--Orange);
  border-radius: 2rem;
  padding: 1.5rem;
  border: none;
  color: var(--White);
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

/* Submitted Component */
